<h2 style="background-color:Black; color:Orange;"><center>Create A Bulk Discount</h2>
<%= form_with url: merchant_bulk_discounts_path(@merchant), method: :post, local: true do |form| %>
  <%= form.label :percentage_discount %>
  <%= form.text_field :percentage_discount %>
  <%= form.label :quantity_threshold %>
  <%= form.text_field :quantity_threshold %>
  <%= form.hidden_field :merchant_id, value: @merchant.id %>
  <%= form.submit "Make New Bulk Discount", style: "font-size:20px; color:Yellow; background-color:DarkGrey;" %>
<% end %>